.base {
    width: 500px;
    position: relative;
    margin: 20px auto;
}

.container {
    display: flex;
    width: fit-content;
    /* height: 50px; */
    border: 1px solid $text-muted;
    border-radius: 1rem;
    position: relative;
}

.option {
    padding: 1rem;
    z-index: 1;
    // border: 2px solid transparent;

    transition: 200ms ease-in-out, border 100ms ease-in-out;
    position: relative;
    color: $background;
    @extend .typography;
}

.option:hover {
    color: $text-muted;
}

.option.active {
    color: white
}

.option:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -0.2rem;
    width: 2px;
    height: 100%;
    background: $background-light;
    z-index: 0;
}

.sliding-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $text-primary;

    transition: all 200ms ease-in-out;
    z-index: 0;
}