.tab-graphic-container {
    position: relative;

    transition: all 300ms ease-in;

    .tab-title {
        position: absolute;
        padding: 0 0.75rem;
        background: white;
        z-index: 1;
        top: -1rem;
        left: 2rem;
        text-wrap: pretty;
        width: min-content;
        color: #0d0d0d;
        transition: all 100ms ease-in;

        @extend .typography;

        &:hover {
            background: transparent;
        }
    }

    .tab-content {
        @extend .text-muted;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;
        border: 1px solid $background;
        border-radius: $border-radius;

        position: relative;
        height: 100%;
        width: 100%;

        transition: all 100ms ease-in;


        &:hover {
            background-color: $text-muted;
            color: white;
        }

        .tab-item {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
        }
    }


}