.tab-container {
    display: grid;
    gap: 2rem;
    // grid-template-areas: repeat(3, 'tab tab tab');
    grid-template-columns: repeat(3, $column-1);
    grid-template-rows: repeat(3, $column-1);

    .tab {

        transition: all 300ms ease-in;

        .tab-title {
            position: relative;
            padding: 0 0.75rem;
            background: white;
            z-index: 1;
            top: -0.5rem;
            left: 2rem;
            text-wrap: pretty;
            width: min-content;
            color: $text-primary;

            transition: all 100ms ease-in;

            &:hover {
                background: transparent;
            }
        }

        .tab-icon-info {
            position: relative;
            top: -0.5rem;
            color: $background;
            transition: all 100ms ease-in;
        }

        .tab-item {
            @extend .text-muted;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            // gap: 0.5rem;
            padding: 1rem;
            border: 1px solid $background;
            border-radius: $border-radius;

            position: relative;
            top: -10%;
            height: 100%;
            width: 100%;

            transition: all 100ms ease-in;

            .typography {
                font-size: 3rem;
            }

            &:hover {
                background-color: $text-muted;
                color: white;
            }
        }


    }
}